/* MobileLoginContainer.module.css */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Example to fill the screen */
    padding: 20px; /* Padding for smaller screens */
    background: linear-gradient(180deg, #0C1747 0%, rgba(37, 60, 92, 0.62) 100%);
    border: 1px black solid;
  }
  
  

/* For small mobile phones */
@media (max-width: 480px) {
    /* styles for screens smaller than 600px */
    .loginForm {
        width: 100%; /* Full width on mobile */
        min-width: 320px; /* But not too small */
        padding: 20px;
        background-color: white;
        border-radius: 4px;
        /* Add more styling as needed */
      }
}

/* For large mobile phones */
@media (min-width: 481px) and (max-width: 768px) {
    /* styles for screens smaller than 600px */
    .loginForm {
        width: 100%; /* Full width on mobile */
        padding: 20px;
        background-color: white;
        border-radius: 4px;
        /* Add more styling as needed */
      }
}

/* For tablets */
@media (min-width: 768px) and (max-width: 1024px) {
    /* styles for screens between 601px and 1024px */
    .loginForm {
        width: 100%; /* Full width on mobile */
        padding: 20px;
        background-color: white;
        border-radius: 4px;
        /* Add more styling as needed */
    }
}
  